@import "partials/base";
  
section.bg-paralax{ 
  background-image: url(../img/background1.png);
  background-position: center bottom -80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 100%;
  height: 135vh;
  .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0f114a38;
    .welcome-text{
      margin-top: 10px;
      font-size: 3.5rem;
      font-family: "Inter", sans-serif;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0.94px;
      color: #FFFFFF;
    }
    .welcome-sub-text{
      font-family: "Roboto Slab", sans-serif;
      font-size: 20px;
      line-height: 1.7;
      font-weight: 300;
      color: #fff;
      margin-top: 10px;

    }
  }
}
section.about-me{
  width: 100%;
  height: 790px;
  .container-about-me{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-me-text{
      margin-top: 60px;
      font-size: 30px;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 20px;
      color: #292727ad;
    }
    .img-avatar{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .text-about-me{
      width: 700px;
      margin-top: 20px;
      font-family: "Roboto Slab", sans-serif;
      font-size: 15px;

      font-weight: 300;
      text-align: center;
      color: #292727;
    }
    .self-proclamations{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 52%;
      height: 200px;
      margin-top: 20px;
      background-color: #d9d9d98a;
      text-align: center;
      color: #504747;
      
      .self-text{
        margin-top: 22px;
        font-size: 20px;
        font-weight:300;

      }.display-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .cards{
          width: 31%;
          margin-top: 10px;
          margin-bottom: 30px;
          color: #757584;
          font-weight: bold;
          i{
            font-size: 60px;
          }
          .card-img{
            width: 65px;
            height: 65px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
section.whatIDo{
  background-color: #d9d9d98a;
  .container-whatIDo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 550px;
    .whatIDo-title{
      margin-top: 70px;
      margin-bottom: 40px;
      font-family: "Lato", sans-serif;
      font-size: 30px;
      font-weight: 300;
      text-align: center;
      color: #292727ad;
    }
    .container-row{
      display: flex;
      justify-content: space-evenly;
      width: 100%; 
      .card{ 
        display: flex;
        flex-direction: column;
        width: 100%;
        .circle{
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: center;
          width: 175px;
          height: 175px;
          max-width: 100%;
          background: #00009C;
          border-radius: 50%;
          font-size: 55px;
          margin: 0 auto 40px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -o-border-radius: 50%;
          i{
            margin-bottom: 42px;
          }
          .icon-img{
            width: 60px;
            height: 60px;
            margin: 0 auto 38px;
          }
          .title-do{
            width: 100%;
            position: relative;
            top: 25px;
            color: rgb(41, 40, 40);
            font-family: "Lato", sans-serif;
            font-size: 22px;
            font-weight: 300;
            letter-spacing: 1px;

            text-align: center;
          }
          .what-IDo-text{
            width: 250px;
            // position: absolute;
            // top:2100px;
            margin: 38px 5px -135px 5px;;
            font-size: 15px;
            font-weight: 300;
            color: #292727;
            text-align: center;
            
          }
        }
      }  
    }
  }
}
section.skills{
    .skills-text{
    margin-top: 60px;
    margin-bottom: 15px;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
    color: #292727ad;
  }
  p{
    line-height: 1.7;
    text-align: center;
    max-width: 550px;
    margin: 20px auto 0;
    font-size: 16px;
    font-family: "Roboto Slab", sans-serif;
    color:rgba(41, 39, 39, 0.6784313725)
  }
  .container-skills{
    width: 100%;
    height: 520px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #292727ad;
    .container-tools{
      width: 42%;
      text-align: left;
      .tools-text{
        font-size: 20px;
        font-weight: 300;
        margin-top: 20px;
        margin-left: 60px;
        margin-bottom: 20px;
      }
      .tools-img{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 70px ;
        padding: 10px 15px 10px 5px ;
        
        .tools{
          filter: grayscale(100%);
          margin: 20px 17px ;
          width: 45px;
          height: 55px;
          transition: all 0.5s ease-in-out;
        }
        .tools:hover{
          filter: grayscale(0%);
        }
      }
    }
    .container-school{
      // background-color: #999c00;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      .school-text{
        font-size: 20px;
        font-weight: 300;
        margin-top: 20px;
        
      }
      .img-college{
        width: 40%;
        margin-top: 45px;
        // margin-bottom: 10px;
      }
      .curses{
        display: flex;
        justify-content: center;
        margin-top: 5px;
        gap: 20px;
        width: 50%;
      }
    }
  }  
}
section.cv{
  background-image: url(../img/bgcv.jpg);
  background-position: center bottom -80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 100%;
  height: 35vh;
  .container-cv{
    width: 100%;
    height: 33vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    color:#FFFFFF; 
    button{
      width: 120px;
      height: 40px;
      margin-top: 15px;
      background-color: #0f114aa1;
      border: 2px solid white;
      cursor: pointer;
      transition: all .3s ease-in-out;
    }
    button:hover{
      width: 140px;
      background-color: #0f114ad7;
    }
    button a{
      
      color: white;
    }
  }
}
section.works{
  width: 100%;
  height: 148vh;
  .works-text{
    margin-top: 60px;
    margin-bottom: 15px;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
    color: #292727ad;
  }
  .container-works{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 50px auto 0;
    height: 174px;
    .sites-works-1{
      overflow: hidden;
      margin: 30px auto;
      width: 339px;
      height: 163px;
      box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.521);
      background: url("../img/cosinebo.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-color: rgba(0, 0, 0, 0.521);
      .site-overlay{
        background: rgba(0, 0, 0, 0.781);
        position: relative;
        width: 340px;
        height: 164px;
        left: -340px;    
        bottom: 0px;    
        transition: left 0.7s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .overlay-content{
          text-align: center;
          color: #ddd;
          i{
            font-size: 30px;
            margin-top: 45px;
          }
          .bg-h3{
            width: 340px;
            height: 50px;
            position: relative;
            bottom: -19px;
            background-color: #0f114aa1;
            .overlay-title{
              position:relative;
              top: 13px;
            } 
          }
        }
      } 
      .site-modal{
        display: none;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -40%);
        margin: 0 auto;
        width: 60%;
        height: 650px;
        background-color: #e7e7e7;
        z-index: 1;
        .modal-content{
          picture{
            img{
              width: 95%;
              height: 60%;
              margin: 15px auto;
            }
          }
          .modal-content-p{
            font-size: 15px;
            font-weight: 300;
            margin: 35px auto;
            padding: 0px 25px;
            text-align: center;
          }
          .modal-header{
            background-color: #ddd;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 75px;
            border-bottom: 1px solid #a7a3a3;;
            color: #6d6c6c;;
            h2{
              font-size: 20px;
              font-weight: 300;
            }
            p{
              margin-top: 5px;
            }
          }
          .close-btn{
            position: absolute;
            top: 0px;
            right: 15px;
            font-size: 50px;
            color: #a7a3a3;
            cursor: pointer;
          } 
          .btn-container{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: first baseline;
            gap: 10px;
            margin-top: 50px;
            .btn-modal{
              width: 110px;
              height: 40px;
              background-color: rgb(247, 245, 245);
              border: 2px solid #0f114aa1;
              cursor: pointer;
              transition: all .3s ease-in-out;
            }
          }
          .modal-footer{
            display: flex;
            justify-content: end;
            align-items: center;
            margin-top: 50px;
            width: 100%;
            height: 50px;
            background-color: #ddd;
            border-top: 1px solid #a7a3a3;
            button{
              width: 80px;
              height: 40px;
              margin-right: 25px;
              border-radius: 0;
            }
          }
        }
        
        
          
      }
     }
    .sites-works-2{
      overflow: hidden;
      margin: 30px auto;
      width: 339px;
      height: 164px;
      box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.521);
      background: url("../img/becomeACat.PNG");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-color: rgba(0, 0, 0, 0.521);
      .site-modal{
        display: none;
        position: fixed;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        width: 80%;
        height: 75%;
        background-color: #00009C;
        z-index: 999;
        overflow: auto;
        .madal-content{
          background-color: #fefefe;
          margin: 10% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
          max-width: 600px;
          border-radius: 5px;
          position: relative;
          .close-btn{
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 24px;
            cursor: pointer;
          }
        }      
      }
      .site-overlay{
        cursor: pointer;
        background: rgba(0, 0, 0, 0.781);
        position: relative;
        width: 340px;
        height: 164px;
        left: -340px;
        transition: left 0.7s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .overlay-content{
          text-align: center;
          color: #ddd;
          i{
            font-size: 30px;
            margin-top: 45px;
          }
          .bg-h3{
            width: 340px;
            height: 50px;
            position: relative;
            bottom: -20px;
            background-color: #0f114aa1;
            .overlay-title{
              position:relative;
              top: 13px;
            } 
          }
        }
      }
    }
    .sites-works-3{
      overflow: hidden;
      margin: 30px auto;
      width: 340px;
      height: 162px;
      box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.521);
      background: url("../img/librarySquare.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-color: rgba(0, 0, 0, 0.521);
      .site-overlay{
        background: rgba(0, 0, 0, 0.781);
        position: relative;
        width: 340px;
        height: 164px;
        left: -340px;
        transition: left 0.7s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .overlay-content{
          text-align: center;
          color: #ddd;
          i{
            font-size: 30px;
            margin-top: 45px;
          }
          .bg-h3{
            width: 340px;
            height: 50px;
            position: relative;
            bottom: -18px;
            background-color: #0f114aa1;
            .overlay-title{
              position:relative;
              top: 13px;
            } 
          }
        }
      }
    }
    .sites-works-4{
      overflow: hidden;
      margin: 30px auto;
      width: 340px;
      height: 164px;
      box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.521);
      background: url("../img/greensockskirin.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: rgba(0, 0, 0, 0.521);
      .site-overlay{
        background: rgba(0, 0, 0, 0.781);
        position: relative;
        width: 340px;
        height: 164px;
        left: -340px;
        transition: left 0.7s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .overlay-content{
          text-align: center;
          color: #ddd;
          i{
            font-size: 30px;
            margin-top: 45px;
          }
          .bg-h3{
            width: 340px;
            height: 50px;
            position: relative;
            bottom: -20px;
            background-color: #0f114aa1;
            .overlay-title{
              position:relative;
              top: 13px;
            } 
          }
        }
      }
    }
    .sites-works-5{
      overflow: hidden;
      margin: 30px auto;
      width: 340px;
      height: 164px;
      box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.521);
      background: url("../img/moviesLib.PNG");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: rgba(0, 0, 0, 0.521);
      .site-overlay{
        background: rgba(0, 0, 0, 0.781);
        position: relative;
        width: 340px;
        height: 164px;
        left: -340px;
        transition: left 0.7s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .overlay-content{
          text-align: center;
          color: #ddd;
          i{
            font-size: 30px;
            margin-top: 45px;
          }
          .bg-h3{
            width: 340px;
            height: 50px;
            position: relative;
            bottom: -20px;
            background-color: #0f114aa1;
            .overlay-title{
              position:relative;
              top: 13px;
            } 
          }
        }
      }
    }
    .sites-works-6{
      overflow: hidden;
      margin: 30px auto;
      width: 340px;
      height: 165px;
      box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.521);
      background: url("../img/NoteManager.PNG");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: rgba(0, 0, 0, 0.521);
      .site-overlay{
        background: rgba(0, 0, 0, 0.781);
        position: relative;
        width: 340px;
        height: 164px;
        left: -340px;
        transition: left 0.7s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .overlay-content{
          text-align: center;
          color: #ddd;
          i{
            font-size: 30px;
            margin-top: 45px;
          }
          .bg-h3{
            width: 340px;
            height: 50px;
            position: relative;
            bottom: -21px;
            background-color: #0f114aa1;
            .overlay-title{
              position:relative;
              top: 13px;
            } 
          }
        }
      }
    }
    .sites-works-7{
      overflow: hidden;
      margin: 30px auto;
      width: 335px;
      height: 167px;
      box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.521);
      background: url("../img/toDoList.PNG");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-color: rgba(0, 0, 0, 0.521);
      .site-overlay{
        background: rgba(0, 0, 0, 0.781);
        position: relative;
        width: 340px;
        height: 166px;
        left: -340px;
        transition: left 0.7s;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .overlay-content{
          text-align: center;
          color: #ddd;
          i{
            font-size: 30px;
            margin-top: 45px;
          }
          .bg-h3{
            width: 340px;
            height: 50px;
            position: relative;
            bottom: -21px;
            background-color: #0f114aa1;
            .overlay-title{
              position:relative;
              top: 13px;
            } 
          }
        }
      }
    }
    
    .sites-works-1, .sites-works-2, 
    .sites-works-3, .sites-works-4, 
    .sites-works-5, .sites-works-6,
    .sites-works-7{
      &:hover{
        .site-overlay{
          left: 0;

        }
      }
    }
  }
}
section.getInTouch {
  height: 345px;
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  .wrapper{
    height: 35px;
    width: 64px;
    background-color: #b18a5f;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    transition: transform 0.25s linear;
    .letter{
    position: absolute;
    width: 90%;
    height: 80%;
    background-color: #f5f1eb;
    border-radius: 5px;
    z-index: 2;
    display: flex;
    }
    .letter img{
      width: 12px;
      height: 12px;
      border-radius: 25%;
      margin-top: 3px;
      margin-left: 3px;
    }
    .envelope{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-top: 19px solid transparent;
      border-right: 34px solid #d8ccbf;
      border-bottom: 16px solid #d8ccbf;
      border-left: 31px solid #ebe2da;
      z-index: 3;
      cursor: pointer;
    }
    .pap{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-right: 34px solid transparent;
      border-bottom: 16px solid transparent;
      border-left: 31px solid transparent;
      transform-origin: top;
      transition: transform 0.25s linear;

    }
    .pap.one {
      border-top: 19px solid #b18a5f;
      transform: rotateX(0deg);
      z-index: 3;
      transition-delay: 0.75s;
    }
    .pap.two {
      border-top: 19px solid #b18a5f;
      transform: rotateX(90deg);
      transition-delay: 0.5s;
    }
  } 
  .shadow {
    position: absolute;
    width: 100px;
    height: 20px;
    margin-bottom: 100px ;
    background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0), rgba(0,0,0,0));
    border-radius: 15px;
  }
  .wrapper:hover{
    transform: translateY(15px);
  }
  .wrapper:hover .pap.one{
    transform: rotateX(90deg);
    transition-delay: 0s;
  }
  .wrapper:hover .pap.two{
    transform: rotateX(180deg);
    transition-delay: 0.25s;
  }
  .wrapper:hover .letter{
    transform: translateY(-15px);
    transition-delay: 0.5s;
  }
  
 .getTouch{
    margin-top: 40px ;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    color:rgba(41, 39, 39, 0.67843137);
   
  }
  
  a#email-button{
    margin-top: 30px;
    text-align: center;
    width: 100px;
    height: 40px;
    border: 1px solid #504e4e;
    background-color:transparents;   
    color: #000;
    
  }
  a#email-button:hover{
    background-color:#00009C;
    color: #fff;
  }
 
  p.getInTouch-text{
    margin-top: 20px;
    width: 590px;
    text-align: center;
    font-family: "Roboto Slab", sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    color:rgba(41, 39, 39, 0.67843137);
  }
  p{
    margin-top: 8px;
  }
}
footer{
  background-color:#222;
  width: 100%;
  height: 200px;
  .container-social-media{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .social-media{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;
      margin-top: 25px;
      width: 30%;
      height: 80px;
      .fa{
        text-align: center;
        width: 48px;
        height: 45px;
         background-color: #2e2a2a;
        .svg-icon{
          margin-left: 2px;
          margin-top: 6px;
         
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  header{
    .container{
      .display-menu{
        display: none;
      }
    }
  }
  section.bg-paralax{
    background-position: center bottom 0px;
    height: 102vh;
    .container{
      .welcome-text{
        font-size: 1.7rem;
      }
      .welcome-sub-text{
        font-size: 1rem;
      }
    }
  }

  section.about-me{
    height: 600px;
    .container-about-me{
      .about-me-text{
        font-size: 1.3rem;
        margin-top: 40px;
      }
      .img-avatar{
        width: 145px;
        height: 145px;
      }
      .text-about-me{
        width: 250px;
        margin-top: 0px;
        font-size: 10px;
      }
      .self-proclamations{
        width: 85%;
        height: 110px;
        margin-top: 25px;
        .self-text{
          font-size: 0.9rem;
        }
        .display-flex{
          .cards{
            width: 35%;
            font-size: 10px;
            font-family: 'Roboto Slab', sans-serif;
            .card-img{
              width: 45px;
              height: 45px;
            }
          }
        }
      }
    }
  }
   
  section.whatIDo{
    .container-whatIDo{
      height: 790px;
      .whatIDo-title{
        font-size: 1.3rem;
        margin-top: 40px;
        margin-bottom: 35px;
      }
      .container-row{
        flex-direction: column;
        gap: 60px;
        .card{
          .circle{
            width: 115px;
            height: 115px;
            .icon-img{
              width: 45px;
              height: 45px;
              margin: 0 auto -25px;
            }
          
            .title-do{
              font-size: 17px;
              top: 70px;
            }
            .what-IDo-text{
              width: 240px;
              margin: 80px 5px -82px 5px;
              font-size: 10px;
              
            }
         
          }
        }
        .card:nth-last-child(1).icon-img{
          margin: -15px auto;
        }
        .card:nth-last-child(1) .what-IDo-text{
          margin: 80px 5px -70px 5px;
        }
        
      }
    }
  }
  section.skills{ 
    .skills-text{
      margin-top: 60px;
      font-size: 1.3rem;
    }
    p{
      max-width: 247px;
      font-size: 14px;
    }
    .container-skills{
      height: 1020px;
      flex-direction: column;
      justify-content: inherit;
      .container-tools{
        width: 100%;
        text-align: center;
        .tools-text{
          width: 250px;
          margin: 15px auto 0;
          font-size: 15px;
        }
        .tools-img{
          width: 100%;
          margin: 0;
          padding: 30px;
        }         
      }
      .container-school{
        width: 100%;
        height: 100%;
        background-color: rgba(217, 217, 217, 0.5411764706);
        .school-text{
          margin-top: 50px;
        }
        .img-college{
          width: 48%;
          margin: 15px 0 0 0;
        }
        .curses{
          width: 60%;
          gap: 15px;
          margin: 0px 0px 10px 0px;
        }
      }
    }
  }
  section.cv{
    background-position: center bottom 12px;
    height: 230px;
    .container-cv{
      height: 210px;
      .resume-text{
        font-size: 1.3rem;
        margin-top: 40px;
        font-family: "Inter", sans-serif;
        font-weight: 300;
      }
    }
  }
  section.works{
    height: 2150px;
    .works-text{
      font-size: 1.3rem;
    }
    .container-works{
      .sites{
        .sites-works{
          width: 100%;
          margin: 25px;
        }  
      }
    }
  }
  section.getInTouch{
    p.getInTouch-text{
      width: 280px;
    }
  } 
}